/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #777777;
}
/* Header */
.logo{
    color: #4A4A4A;
}
.pe-caption-style{
    top: 30%;
}
.fa-star{
    font-size: 16px;
    color: #FFC806;
}
@media only screen and (max-width: 767px){
    #carouselExampleCaptions .carousel-item img{
        height: 50vh;
        object-fit: cover;
    }
    .pe-caption-style{
        top: 10%;
    }
    .course-img img{
        width: 100%;
    }
}