/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
*,
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #777777;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
/* Header */
.logo{
    color: #4A4A4A;
}
.pe-caption-style{
    top: 30%;
}
.fa-star{
    font-size: 16px;
    color: #FFC806;
}